Zad.1

Wczytanie pandy jako pd oraz wczytanie weather.txt

In [103]:
import pandas as pd

with open("C:\studia\sem_5\AiBD\lab_5\Lab2\original_data\weather.txt") as data:
    file = data.readlines()

Filtracja pliku danych wejściowych po dacie badań. W tym przypadku jest to 5 ostatnich miesięcy roku 2010.

In [104]:
l_5_m = []
for i in file:
    if "2010" in i[11:15]:
        if "08" in i[15:17] or "09" in i[15:17] or "10" in i[15:17] or "11" in i[15:17] or "12" in i[15:17]:
            l_5_m.append(i)

Utworzenie kolumn i wierszy. Z powodu błędów w pliku txt trzeba było uwzględnić 3 przypadki dopisywania wartości do poszczególnych kolumn, wynikało to z różnych odległości między elementami. Niepoprawne wartości oznaczone zostały jako 'None'.

In [105]:
# Stworzenie listy column
col = ["id","rok","miesiac","nazwa_zmiennych"]
for i in range(1,32):
    col.append("dzien_{}".format(i))
wier = []
# stworzenie listy list kolumn
for i in l_5_m:
    # odczytywanie takich wartości jak id, rok, miesiąc, nazwa_zmiennej i który dzień
    len_stacja_pog = len(l_5_m[0][0:11])
    id = l_5_m[0][0:11]
    rok = i[11:15]
    miesiac = i[15:17]
    nazwa_zmiennych = i[17:21]
    days_1 = i[21:].split()
    el_wier = []
    for j in days_1:
        # ignorowanie 'S'
        if j =='S':
            continue
        # zamiana '-9999' i 'S-9999' na 'None'
        elif j == '-9999' or j == 'S-9999':
            j = 'None'
            el_wier.append(j)
        else:
            el_wier.append(j)
    # połączenie wcześniej odczytanych wartości w jedną listę
    wier.append([id,rok,miesiac,nazwa_zmiennych]+el_wier)
print(wier)

[['MX000017004', '2010', '08', 'TMAX', 'None', 'None', 'None', 'None', '296', 'None', 'None', '290', 'None', 'None', 'None', 'None', '298', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', '264', 'None', '297', 'None', 'None', 'None', '280', 'None', '254'], ['MX000017004', '2010', '08', 'TMIN', 'None', 'None', 'None', 'None', '158', 'None', 'None', '173', 'None', 'None', 'None', 'None', '165', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', '150', 'None', '156', 'None', 'None', 'None', '153', 'None', '154'], ['MX000017004', '2010', '08', 'PRCP', 'None', 'None', 'None', 'None', '38', '5', 'None', '239', '0', '180', 'None', '168', '168', '185', '0', 'None', '132', '193', 'None', '117', '51', '145', '0', '0', '0', '432', 'None', '64', '188', '0', '0'], ['MX000017004', '2010', '09', 'PRCP', '185', '56', '13', '175', '0', '277', '0', '345', '391', '353', '23', '0', 'None', '119', '0', 'None', '48', '10', '0', '361', '0', '0', '15', '147', '18', '0', '0', '0', '0', '0', 'None'], ['MX000017004', '2010', '10', 'TMAX', 'None', 'None', 'None', 'None', '270', 'None', '281', 'None', 'None', 'None', 'None', 'None', 'None', '295', '287', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', '312', 'None', 'None', 'None'], ['MX000017004', '2010', '10', 'TMIN', 'None', 'None', 'None', 'None', '140', 'None', '129', 'None', 'None', 'None', 'None', 'None', 'None', '130', '105', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', '150', 'None', 'None', 'None'], ['MX000017004', '2010', '10', 'PRCP', '0', '0', 'None', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', 'None', 'None', '0', '0', '0', '0', '0', '0'], ['MX000017004', '2010', '11', 'TMAX', 'None', '313', 'None', '272', '263', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', '281', '277', 'None', 'None', 'None', 'None'], ['MX000017004', '2010', '11', 'TMIN', 'None', '163', 'None', '120', '79', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', '121', '142', 'None', 'None', 'None', 'None'], ['MX000017004', '2010', '11', 'PRCP', '0', '0', 'None', '0', '0', '0', 'None', '0', '0', '0', '0', '0', '0', 'None', 'None', '0', '0', '0', '0', 'None', 'None', '0', '0', '0', '0', '0', '0', 'None', 'None', '0', 'None'], ['MX000017004', '2010', '12', 'TMAX', '299', 'None', 'None', 'None', 'None', '278', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None'], ['MX000017004', '2010', '12', 'TMIN', '138', 'None', 'None', 'None', 'None', '105', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None'], ['MX000017004', '2010', '12', 'PRCP', '0', '0', '0', 'None', 'None', '0', '0', '0', '0', '0', '0', 'None', 'None', '0', '0', '0', '0', 'None', '0', 'None', '0', 'None', '0', '0', 'None', 'None', 'None', '0', '0', '0', '0']]

Utworzenie pierwszego DataFrama

In [106]:
data_1 = pd.DataFrame(wier,columns=col)
data_1

,id,rok,miesiac,nazwa_zmiennych,dzien_1,dzien_2,dzien_3,dzien_4,dzien_5,dzien_6,...,dzien_22,dzien_23,dzien_24,dzien_25,dzien_26,dzien_27,dzien_28,dzien_29,dzien_30,dzien_31
0,MX000017004,2010,08,TMAX,None,None,None,None,296,None,...,None,264,None,297,None,None,None,280,None,254
1,MX000017004,2010,08,TMIN,None,None,None,None,158,None,...,None,150,None,156,None,None,None,153,None,154
2,MX000017004,2010,08,PRCP,None,None,None,None,38,5,...,145,0,0,0,432,None,64,188,0,0
3,MX000017004,2010,09,PRCP,185,56,13,175,0,277,...,0,15,147,18,0,0,0,0,0,None
4,MX000017004,2010,10,TMAX,None,None,None,None,270,None,...,None,None,None,None,None,None,312,None,None,None
5,MX000017004,2010,10,TMIN,None,None,None,None,140,None,...,None,None,None,None,None,None,150,None,None,None
6,MX000017004,2010,10,PRCP,0,0,None,0,0,0,...,0,0,None,None,0,0,0,0,0,0
7,MX000017004,2010,11,TMAX,None,313,None,272,263,None,...,None,None,None,None,281,277,None,None,None,None
8,MX000017004,2010,11,TMIN,None,163,None,120,79,None,...,None,None,None,None,121,142,None,None,None,None
9,MX000017004,2010,11,PRCP,0,0,None,0,0,0,...,0,0,0,0,0,0,None,None,0,None
10,MX000017004,2010,12,TMAX,299,None,None,None,None,278,...,None,None,None,None,None,None,None,None,None,None
11,MX000017004,2010,12,TMIN,138,None,None,None,None,105,...,None,None,None,None,None,None,None,None,None,None
12,MX000017004,2010,12,PRCP,0,0,0,None,None,0,...,None,0,0,None,None,None,0,0,0,0

Zapisanie dataframa jako txt w folderze analysis_data

In [107]:
with open("C:\studia\sem_5\AiBD\lab_5\Lab2/analysis_data/filtred_data_1.txt", "w") as f:
    f.write(data_1.to_csv(index=True))

Usunięcie kolumn, w których pojawiły się niepoprawne wartości.

In [108]:
data_2 = pd.melt(data_1, ['id', 'rok', 'miesiac', 'nazwa_zmiennych'])
# warunek że wartość 'value' nie może być "None"
data_2 = data_2[data_2.value != 'None']
data_2

              id   rok miesiac nazwa_zmiennych  variable value
3    MX000017004  2010      09            PRCP   dzien_1   185
6    MX000017004  2010      10            PRCP   dzien_1     0
9    MX000017004  2010      11            PRCP   dzien_1     0
10   MX000017004  2010      12            TMAX   dzien_1   299
11   MX000017004  2010      12            TMIN   dzien_1   138
..           ...   ...     ...             ...       ...   ...
390  MX000017004  2010      08            TMAX  dzien_31   254
391  MX000017004  2010      08            TMIN  dzien_31   154
392  MX000017004  2010      08            PRCP  dzien_31     0
396  MX000017004  2010      10            PRCP  dzien_31     0
402  MX000017004  2010      12            PRCP  dzien_31     0

[159 rows x 6 columns]

Połączenie 3 kolumn w jedną. Pozwoli to zwiększyć przejrzystość bazy danych.

In [109]:
# usunięcie części 'dzien_' z variable
data_2 = data_2.replace('dzien_',"",regex=True)
# połączenie miesiac, variable i rok w jedną kolumnę 'data'
data_2['data'] = data_2['miesiac'].astype(str) +"-"+ data_2['variable'] +"-"+ data_2['rok']
# usunięcie kolumn 'rook', 'miesiąc' i 'variable'
data_2.__delitem__('rok')
data_2.__delitem__('miesiac')
data_2.__delitem__('variable')
# zmiana kolejności kolumn
data_2 = data_2[['id','data','nazwa_zmiennych','value']]
# zmiana nazwy kolumny 'nazwa_zmiennych' na 'numer'
data_2.rename(columns={'nazwa_zmiennych':'numer'},inplace=True)
data_2

              id        data numer value
3    MX000017004   09-1-2010  PRCP   185
6    MX000017004   10-1-2010  PRCP     0
9    MX000017004   11-1-2010  PRCP     0
10   MX000017004   12-1-2010  TMAX   299
11   MX000017004   12-1-2010  TMIN   138
..           ...         ...   ...   ...
390  MX000017004  08-31-2010  TMAX   254
391  MX000017004  08-31-2010  TMIN   154
392  MX000017004  08-31-2010  PRCP     0
396  MX000017004  10-31-2010  PRCP     0
402  MX000017004  12-31-2010  PRCP     0

[159 rows x 4 columns]

Stworzenie pivot_table, aby pokazać wartości PRCP, TMAX i TMIN dla poszczególch dni.

In [117]:
# utworzenie tablicy pivot, gdzie wartościami są 'value, kolumnami są 'numer' a indeksem jest 'id' i 'data'
data_3 = pd.pivot_table(data_2,values= 'value',index=["id",'data'],columns=['numer'])
# zresetowanie indeksów
data_3.reset_index(drop=False, inplace=True)
# usunięcie kolumn z brakiem wartości
data_3 = data_3.dropna()
# ponowny reset indeksów tym razem z parametrem drop ustawionym na True
data_3=data_3.dropna().reset_index(drop=True)
# posortowanie danych po dacie
data_3=data_3.sort_values('data')
data_3.head()

numer           id        data   PRCP   TMAX   TMIN
0      MX000017004  08-13-2010  168.0  298.0  165.0
1      MX000017004  08-23-2010    0.0  264.0  150.0
2      MX000017004  08-25-2010    0.0  297.0  156.0
3      MX000017004  08-29-2010  188.0  280.0  153.0
4      MX000017004  08-31-2010    0.0  254.0  154.0

Zapisanie końcowych danych do pamięci

In [111]:
with open("C:\studia\sem_5\AiBD\lab_5\Lab2/analysis_data/filtred_data_2.txt", "w") as f:
    f.write(data_3.to_csv(index=True))